* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: #6b482c;
    height: 100px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 10px;
}

header .list-items {
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: #ffffff;
}

header .menu {
    justify-content: space-between;
    text-transform: uppercase;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: #6b482c;
    font-size: 48px;
    margin-bottom: 10px;
}

.button {
    background-color: #6b482c;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
    text-transform: uppercase;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #6b482c;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #6b482c;
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

.container-externo {
    background-color: #6b482c;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico {
    text-align: center;
}

.item-servico a {
    width: 220px;
    background-color: #ffffff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #6b482c;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.item-servico p {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
}

.item-servico img {
    width: 80%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
}

#planos h2 {
    font-size: 32px;
    text-align: center;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 5px solid #6b482c;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
    background-color: rgb(208, 187, 170, 0.5);
}

.item-plano .button {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #6b482c;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 20px;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #6b482c;
    flex-shrink: 0;
    margin-right: 10px;
}

footer {
    background-color: #6b482c;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: #ffffff;
}

/* mobile */
@media(max-width: 993px) {
    .flex-container {
        flex-direction: column;
        width: 100%;
    }

    header {
        width: 100%;
    }

    header .menu {
        align-items: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        height: 100%;
    }

    .apresentacao img {
        min-width: 300px;
        align-self: center;
        margin-bottom: 5%;
    }

    .apresentacao .texto-apresentacao {
        text-align: center;
        width: 100%;
    }

    .texto-apresentacao .button {
        margin: 10px auto 30px;
    }

    #quem-somos {
        flex-direction: column-reverse;
        padding-left: 10px;
    }

    #quem-somos img {
        min-width: 320px;
        padding-left: 28px;
        margin-top: 40px;
    }

    .list-servicos {
        flex-direction: column;
    }

    .item-servico img {
        width: 50%;
        margin: auto;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano {
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    #planos h2 {
        padding-bottom: 10px;
    }

    footer p {
        padding-top: 10px;
        padding-left: 10px;
    }
}